body{
  width: 900px;
  margin: 0 auto;
  font-family: 'Arial';
}

.page-header__inner{
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  padding: 12px 0 12px 0;
  background-color: #0b3b54;
}

.page-header__inner-span{
  font-size: 24px;
  align-self: center;
  margin-left: 24px;
  color: #C9A920;
}

.main-nav{
  align-self: center;
}

.main-nav__link{
  text-decoration: none;
  color: #C9A920;
}

.main-nav__list-item{
  display: inline-block;
  margin-left: 12px;
}

.main-article__inner{ 
  margin-left: 24px;
  padding-bottom: 48px;
}

.main-article__article{
  margin: 0;
  padding: 24px 0 24px 0;
}
.main-article{
    background-color: #f5f5f5;
}

.main-article__pic{
  float: left;
  margin-right: 12px;
}

.main-article__text{
  margin: 0 24px 0 0;
  text-align: justify;
}

.main-article__subscribe{
  float: right;
  border: 1px solid #000;
  margin-right: 24px;
  margin-left: 12px;
  padding: 0 12px 0 12px;
}

.main-article__form-item{
  display: block;
}

.main-article__sbutton{
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
}